*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    background-color:#E5E5E5;
}
.app{
    width:414px;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #CF2B2B;
    height: 92px;
    width:100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    color: white;
    margin-left:21px;
    margin-top:5px;
}
h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    margin-left:21px;
    margin-top:-5px;
}
.container{
    margin-left:19px;
    margin-top:123px;
    margin-bottom:108px;
}
h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-top:27px;
    margin-bottom:17px;
}
.opcoes{
    display:flex;
    overflow-x:scroll;
    margin-top:-8px;
}
.opcao{
    width:172px;
    height:216px;
    background-color: white;
    margin-right:14px;
    padding-right:14px;
    padding-left:10px;
    padding-top:8px;
    padding-bottom:4px;
    border: 5px solid transparent;
    border-radius:9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    
    
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    position:relative;

    
}
.opcao img{
    width:144px;
    height: 87px;
    border-radius: 5px;
}
.produto{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.opcao p:nth-child(3){
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color:#A6A6A6;
}
.opcao p:nth-child(4){
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
ion-icon{
    color: #32B72F;
    position:absolute;
    font-size: 20px;
    right: 7px;
    bottom:7px;
    display: none
}
.selecionado ion-icon{
    display:initial;
}
footer{
    width:100%;
    height: 92px;
    background-color: white;
    padding:15px 25px;
    margin-top:80px;
    
    position:fixed;
    bottom: 0;
    right:0;
    z-index:1;

}
.botaoFinal{
    background-color: #CBCBCB;
    border:none;
    border-radius: 50px;
    width:364px;
    height:61px;
    padding:10px 80px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color:white;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.018em;
    
    
}

.selecionado{
    border: 5px solid #32B72F;
}

.finalizado{
    background-color: #32B72F;
    font-weight: 700;
    
}
